---
layout: courses
title: Courses
permalink: /courses/
---

<div class="container mtb">
    <div class="row">

        <!-- courses list -->
        <div class="col-lg-12">

            {% for post in site.categories['courses'] %}
                <!-- courses post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                    <p> Photo credit: href="{{https://www.flickr.com/photos/flyingsinger/3594424457/}}"</p>
                </a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b %-d, %Y" }}. | By: {{ post.author }}</csmall></p>
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Read More]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><!--/col-lg-8 -->

        {% comment %} {% include sidebar.html %} {% endcomment %}

    </div><!--/row -->
    
    
    <h2> Upcoming Live courses </h2>
    <h4> R00. Introduction to Robotics</h4>
    <p> Schedule: 16th August </p>
    <p> Syllabus: 1. Linear Algebra 2. A bit of Calculus 3. Modeling of dynamical system and 
        State space representation 4. Basics of Control Theory 
        5. Mobile Robotics: Modeling, creating a graphical model in Rviz/Ros, 
        simulate and visualize the robot in Rviz/ROS, writing a simple controller to navigate the robot.
        6. Humanoid robot: Modeling, creating graphical model, simulate and visualize in Rviz/ROS, 
        writing a controller to make the humanoid robot walk.
        7. Drones: Modeling, creating graphical model, simulate and visualize in Rviz/ROS, 
        writing a controller to make the drone fly.
    </p>
    <h2> Signup for the Course </h2>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="GTMNTT5NG4JSJ">
    <table>
    <tr><td><input type="hidden" name="on0" value="Course Price">Course Price</td></tr><tr><td><select name="os0">
	    <option value="Basic Course">Basic Course €220,00 EUR</option>
	    <option value="Advance Course">Advance Course €320,00 EUR</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="EUR">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


    <script type="text/javascript" src="//camazee.com/exec/plugin/loader.jsp?broadcasterId=7155&integrationKey=00001bf36d7164980be6547df1ec34fa6eb0e60a"></script>
            
</div><!--/container -->
