---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>VISION</h4>
                <p>If you are interested in robotics or humanoid robotics in particular and would like to pursue your research interest in this field in future but demotivated by the fact that access to the robots is expensive and limited to few world class laboratories and universities, then this is the place for you. Our effort is to provide a platform where you can learn about advances in robotic technology. Together with us, you can learn algorithms, develop software, test your software on robotics simulator and even able to perform experiments on the robots to support your research.
 
                </p>
                <p><br/><a href="/services/" class="btn btn-theme">More Info</a></p>
            </div>
            
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>How does it work?</h4>
                <p> To develop skills in robotics, the best way of learning is by doing. Here we offer several courses 
                    right from the basics to advance courses in robotics. One can sign up for the courses which is interactive 
                    live courses where it is always possible to directly interact, discuss and clarify during the course or later. 
                    The concepts and algorithms learned in the courses will be implemented on various robotics platforms either in 
                    simulation and on the real robots via tele-presence to have an experience as close as hands-on experience with the robots.
                  </p>
                <p><br/><a href="/courses/" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Participate</h4>
                <p> Here we also work collaboratively on different projects. These research projects are voluntarily proposed by 
                    PhD candidates and several other researchers from various laboratories and universities in their personal capacities. 
                    Please browse the projects and be the part of one or more projects that suit your research interest.
                    Moreover, if you are a robotics professionals and willing to offer some courses and practical experiments to our 
                    member students, we would be glad to hear from you. Please drop an email at admin@r-lab.in.
                  </p>
                <p><br/><a href="/projects/" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 himg">
        <img src="{{ "/assets/img/welcomerobotics2.png" | prepend: site.baseurl }}" class="img-responsive">
     </div>
</div>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3775425275705977",
    enable_page_level_ads: true
  });
</script>
<!-- {% include portfolio.html title="LATEST WORKS" limit=0 %} -->

<!-- <div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>
    </div>
</div> -->
