---
layout: index
title: Home
permalink: /
---

<div id="service">
    <div class="container">
        <div class="row centered">
            <div class="col-md-4">
                <i class="fa fa-trophy"></i>
                <h4>LEARN</h4>
                <p>Fundamental knowledge of mathematics, kinematics, dynamics, control and programming  is 
                  neccessary to conduct research in robotics. Here not  only we provide vast resources for self
                  learning but also offer courses by our robotic researhers. The courses will be deliverd via 
                  hangout in real time. Also, our faculty can provide one-to-one intraction to clarify the 
                  concepts and software development principles for robotics. 
                </p>
                <p><br/><a href="/courses/" class="btn btn-theme">More Info</a></p>
            </div>
            
            <div class="col-md-4">
                <i class="fa fa-flask"></i>
                <h4>APPLY</h4>
                <p> We strongly believe that the best way of learning is by doing. So the concepts and algorithms 
                  learned in the courses will be implemented on various robotics platforms. The experiments will 
                  be carried out  either in simulation and on the real robots via tele-presence to have an experience 
                  as close as hands-on experience with the robots.
                  </p>
                <p><br/><a href="/projects/" class="btn btn-theme">More Info</a></p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-heart-o"></i>
                <h4>Participate</h4>
                <p>One more step to be a professional roboticist. Participate in one of the projects offered here! 
                  These research projects are volunteerily proposed by PhD candidates and several other researchers
                  from various laboratories and universities in their personal capacities. Please browse the projects
                  and be the part of one or more projects that suit your research interest.</p>
                <p><br/><a href="/projects/" class="btn btn-theme">More Info</a></p>
            </div>
        </div>
    </div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3775425275705977",
    enable_page_level_ads: true
  });
</script>
<!-- {% include portfolio.html title="LATEST WORKS" limit=0 %} -->

<!-- <div class="container mtb">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h4>More About Our Agency.</h4>
            <p>{{ site.about }}</p>
            <p><br/><a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a></p>
        </div>

        <div class="col-lg-3">
            <h4>Frequently Asked</h4>
            <div class="hline"></div>
            {% for post in site.categories['question'] %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

        <div class="col-lg-3">
            <h4>Latest Posts</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %}
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %}
        </div>
    </div>
</div> -->
