<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h4 small>What is great about R-LAB?<h4 small>
            <ul>
                
                <li>Possibility to work with the real time experimental robotics data.</li>
                <li>Possibility to implement your algorithm on the available robots.</li>
                <li>Prepare your thesis partially or completely under supervision.</li>
                <li>Exposure to international robotics community</li>

                </ul>
            </div>
        </div><!--/row -->
        
    </div><!--/container -->
           
</div><!--/twrap -->
